{% extends "./base.html" %}
{% load static %}
{% block title %}Search{% endblock %}
{% block content %}

<div class="d-flex flex-row flex-wrap">
    {% for video in videos%}
        <div class="flex-fill">
            <div class=" bg-info">
                <a href="{{video.id}}">
                <img class="img-thumbnail " src="{{ video.thumbnail_attrs.src }}"
                alt="{{ video.thumbnail_attrs.alt }}" 
                width="{{ video.thumbnail_attrs.width }}"
                height="{{ video.thumbnail_attrs.height}}" /></a>
                <span class="text-end">{{video.duration}}</span>
            </div>

            <div><p>{{video.title}}</p></div>
            <div><p>{{video.user}}</p></div>
            <div><p>{{video.views}}</p></div>
            <div><p>{{video.upload_date}}</p></div>
        </div>
                
     {% endfor%}

</div>

{% endblock %}